// light mode
$navbar: #f8f9fa;
$bg-color: #FFFFFF;
$main-text: #0f0f0f;
$secondary-text: #606060;
$highlight: rgba(0, 0, 0, 0.05);
$highlight-hover: rgba(0, 0, 0, 0.15);
$highlight-selected: #030303;
$border-color: #d3d3d3